.scroll-float-section {
    position: absolute;
    top: 0;
    left: -15%;
    transform: translateX(-50%) scale(0.85);
    width: clamp(400px, 85vw, 1000px);
    max-height: 60vh;
    padding: clamp(1rem, 3vw, 3rem) clamp(1rem, 4vw, 4rem);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    color: #851515;
    font-size: clamp(1rem, 1vw + 0.4rem, 1.3rem);
    font-weight: 500;
    line-height: 1.7;
    overflow-y: auto;
    transition: opacity 0.5s ease, transform 0.5s ease;
    user-select: text;
    background-color: rgba(236, 222, 218, 0.85);
    box-sizing: border-box;
    text-align: left;
    border-radius: 1rem;
}

.scroll-float-section:hover {
    box-shadow: 0 0 20px 10px rgba(133, 21, 21, 0.3);
    cursor: pointer;
}

.scroll-float-section p {
    text-indent: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    text-align: left !important;
}
