* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: linear-gradient(135deg, #d8daac 0%, #d77d70 50%, #b3d3c9 100%);
    font-family: 'Poppins', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}